body dialog {
  display: grid;
  align-content: start;
  background: var(--surface-2);
  color: var(--text-1);
  max-inline-size: min(90vw, var(--size-content-3));
  margin: auto;
  padding: 0;
  position: fixed;
  inset: 0;
  border-radius: var(--radius-3);
  box-shadow: var(--shadow-6);
  z-index: var(--layer-important);
  overflow: hidden;
  transition: opacity 0.5s var(--ease-3);

  &::backdrop {
    transition: -webkit-backdrop-filter 0.5s ease;
    transition: backdrop-filter 0.5s ease;
    transition: backdrop-filter 0.5s ease, -webkit-backdrop-filter 0.5s ease;
  }
}
